$dark-gray: #2d2d2d;
$red: red;
$orange: orange;
$yellow: yellow;
$green: green;
$blue: blue;
$purple: purple;

body{
  background-color: $dark-gray;
}

h1{
  color: rgb(255, 240, 189);
  font-family: 'Roboto', sans-serif;
  font-size: 100px;
  text-align: center;
  text-shadow: 7px 7px $red, 14px 14px $orange, 21px 21px $yellow, 28px 28px $green, 35px 35px $blue, 42px 42px $purple;
}
